@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes FlyIn {
    0% {
        height: 0;
    }

    100% {
        height: 88vh;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: black;
}

li {
    list-style: none;
}

h2 {
    font-size: 26px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    padding-top: 10px;
    font-size: 32px;
    height: 75px;
    text-transform: uppercase;
}

nav p {
    font-weight: 800;
    letter-spacing: 2.5px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-inline: 20px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

.a-header:hover {
    transition: ease-in 0.2s;
    color: rgba(255, 255, 255, 0.377);
}

.a-header {
    text-decoration: none;
    color: white;
    transition: ease-in 0.2s;
}

.nav-overlay {
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s;
    opacity: 0;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.959);
    z-index: 998;
    padding: 80px;
    font-size: 48px;
    flex-direction: column;
    justify-content: center;
}

.nav-overlay a {
    margin: 40px 0;
}

.hamburger-icon {
    display: none;
    z-index: 999;
}

.hero-picture {
    animation: FadeIn 1s;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/head.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    position: relative;
}

.header-text {
    animation: FadeIn 3s, FlyIn 1s;
    text-align: center;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-text h1 {
    font-size: 42px;
    max-width: 80%;
}

.header-text p {
    margin-top: 20px;
    max-width: 50%;
    font-weight: 200;
}

.button_header {
    border: none;
    font-size: 12px;
    font-weight: 800;
    background-color: white;
    border: 1px solid black;
    border-radius: 500px;
    padding: 15px;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    transition: all 0.5s;
}

.button_header:hover {
    transition: all 0.5s;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 50px;
    width: 755px;
    min-height: 400px;
    padding: 40px 80px;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all .5s;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.75) 0px 7px 20px;
    transform: scale(1.05);
    transition: all .5s;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
}

.icons img {
    width: 30px;
}

.projects {
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.projects .project {
    text-align: center;
    border-radius: 25px;
    padding: 25px;
    padding-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-width: 160px;
}

.projects .project img {
    margin-block: 5px;
    width: 100px;
}

.projects .project .links {
    border-top: 1px solid rgba(0, 0, 0, 0.171);
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.projects .project .links img {
    margin: 0;
}

.projects .project .links img:hover {
    cursor: pointer;
}

.projects .project .links img {
    width: 25px;
}

footer {
    padding: 50px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 720px) {
    .nav-links {
        display: none;
    }

    .hamburger-icon {
        display: inline-block;
    }

    .hamburger-icon:hover {
        cursor: pointer;
    }

    .card {
        padding: 40px 25px;
    }

    .container {
        padding: 100px 0px;
    }
}